<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2><%= animal.name %></h2>
        <h4><%= animal.type %></h4>
        <h5><%= animal.age %></h5>
    </div>
</body>
</html>