<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/animals" method="POST">
        <h3><input type="text" name="type" placeholder="What type of animal" id=""></h3>
        <h3><input type="text" name="name" placeholder="What is the animal name" id=""></h3>
        <h3><input type="number" name="age" placeholder="What is the animals age" id=""></h3>
        <button type="submit">Create new animal</button>
    </form>
</body>
</html>